div.search-dialog
    #algolia-search-title Algolia
    div.search-close-button
        i.fa.fa-times
    //div#current-refined-values
    //div#clear-all
    div#search-box
    //div#refinement-list
    hr
    div#hits
    div#algolia-pagination
.search-mask