#recent-posts
  .recent-post-item
    position relative
    display flex
    flex-direction column
    margin 32px 0
    padding 16px
    background $rgba-color
    border-radius 4px
    transition $transition-delay
    &:hover
      box-shadow 0 0 24px $box-shadow-color
      transition $transition-delay
    .article-top
      position absolute
      right 0
      top 0
      width 48px
      height 48px
      background url("../../images/top.svg") top right / 48px 48px no-repeat
    .post-title
      position relative
      margin 0 0 16px 0
      padding 8px 0
      display block
      font-size 24px
      transition $transition-delay
      &:after
        content url("../../images/ufo.svg")
        position absolute
        left 0
        bottom -12px
        width 12px
        height 12px
        font-size 12px
        font-weight bolder
      &:hover
        color $color-theme
        transition $transition-delay
        &:after
          animation rotate3ding 5s infinite
    .container
      display flex
      flex-direction row
      justify-content left
      flex-wrap wrap
      margin-top 16px
      .article-icon
        margin 0 8px 0 0
      .link-a
        text-decoration underline $color-white
        transition $transition-delay
        &:hover
          transition $transition-delay
          color $color-theme
          text-decoration underline $color-theme
      .post-date, .categories, .tags
        display block
        margin-top 8px
        padding 8px 16px
        font-size 14px
      .post-date
        margin-right 8px
      .categories
        margin-right 8px
      .tags
        margin-right 0
    .post-content
      margin-bottom 0
      padding 0
      background transparent
      border-radius 0
    .content
      margin-top 32px
      display block
      line-height 28px
    .more
      margin 32px 0 16px 0
      padding 8px 0
      display inline-block
      width 80px
      text-align center
      font-size 12px
