#search-box
  > div
    width 100%
    max-width 100%
    height 32px
  input
    width 100%
    height 32px
    line-height 32px
    border-radius 32px
    font-size 14px
    outline none
    border 2px solid $color-theme

.algolia-hit-item
  position relative
  padding-left .48rem
  height .28rem
  line-height .28rem
  transition $transition-delay
  &::before
    content ''
    position absolute
    left 0
    top .06rem
    display block
    width .16rem
    height .16rem
    border .04rem solid $color-sub-theme
    border-radius 50%
    transition $transition-delay
  &:hover
    &::before
      border .04rem solid $color-theme
      transition $transition-delay
  .algolia-hit-item-link
    display block
    color $color-font
    text-decoration none
    font-size .14rem
    cursor pointer
    transition $transition-delay
    &:hover
      color $color-theme
      transition $transition-delay
    em
      color $color-theme
      font-weight 700

#algolia-hits-empty
  display block
  height .28rem
  line-height .28rem
  color $color-font
  font-size .14rem

#algolia-pagination
  display block
  margin .24rem 0 .08rem 0
  padding 0 .16rem
  height .40rem
  background transparent
  box-shadow none
  border 0
  .pagination
    height .4rem
    text-align center
    background transparent
    box-shadow none
    border 0
    border-radius 0
    display block
    padding 0
    .ais-pagination--item__previous, .ais-pagination--item__page, .ais-pagination--item__next
      margin 0 .04rem
      padding 0
      position relative
      display inline-block
      width .4rem
      height .4rem
      text-align center
      line-height .4rem
      text-decoration none
      overflow hidden
      border-radius .04rem
      color $color-font
      transition $transition-delay
      font-size .14rem
      &:after
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display block
        width .8rem
        height .8rem
        background $rgba-color
        filter blur(.05rem)
        margin -.2rem
        z-index -1
      &:before
        content ''
        position absolute
        left -.5rem
        top -.2rem
        width .3rem
        height .8rem
        background linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
        transform rotateZ(-30deg)
      &:hover
        color: $color-theme
        transition $transition-delay
        &:before
          left .4rem
          top -.2rem
          transform rotateZ(0deg)
          transition $transition-delay
      a
        &:hover
          color $color-theme
    .ais-pagination--item__previous
      margin-left 0
    .ais-pagination--item__page
      &.current
        color $color-theme
        font-size .16rem
        background none
        a
          color $color-theme
    .ais-pagination--item__next
      margin-right 0
