.search-dialog
  position fixed
  top 40%
  left 50%
  z-index 1001
  display none
  transform translate(-50%, -50%)
  padding .2rem
  width 6rem
  background rgba(0, 0, 0, 0.9)
  box-shadow 0 0 .32rem rgba(255, 255, 255, 0.2)
  border-radius .04rem

  #algolia-search-title
    padding 0 0 .14rem 0
    color $color-theme
    font-size .2rem

  .search-close-button
    position absolute
    top .1rem
    right .1rem
    color $color-white
    cursor pointer
    transition $transition-delay
    &:hover
      color $color-theme
      transition $transition-delay

  hr
    display block
    height 0
    border 0

.search-mask
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1000
  display none
  background rgba(255, 255, 255, 0.2)

//@media screen and (max-width: $sm)
//  .search-dialog
//    margin-left: -45%
//    width: 90%
